<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings> 
      <add key="Authority" value="https://demo.duendesoftware.com"/>
		  <add key="ClientId" value="interactive.public"/>
		  <add key="RedirectUrl" value="http://127.0.0.1:65024/"/>
		  <add key="LogDir" value=""/>
    </appSettings>  
</configuration>
